<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Crear</title>
    
</head>

<body>
    <h1>Crear</h1>
    <div><a href="/">ir aListado</a></div>
<div class="formulario">
<form action="" method="">
    <input type="text" name="nombre" placeholder="nombre">
    <input type="text" name="apellido" placeholder="apellido">
    <input type="submit" name="Crear" id="">
</form>
</div>


</body>

</html>