<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>WALTER</title>
    
</head>

<body>

    <h1>Listado</h1>
<div><a href="/crear">Agregar item</a></div>

    <% for (let i=0 ; i<traeDatos.length;i++){%>
    <div class="contenedorFila">
        <div class="contenedorNombre"><%=traeDatos[i].nombre%> <%=traeDatos[i].apellido%></div>
        <div class="contenedorAcciones">
            <p><a href="#">ver</a></p>
            <p><a href="editar/<%=traeDatos[i].id%>">editar</a></p>
            <p><a href="#">borrar</a></p>
        </div>
    </div>
    <%}%>
    <div></div>


</body>

</html>